<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
</head>
<body>

    <h1>Lista de Tarefas</h1>

    <h2>Incluir nova tarefa</h2>

    <form action="{{ url_for('incluir') }}" method="post">
        <label>
            Nome da tarefa:
            <input type="text" name="nome" required>
        </label>
        <br><br>

        <label>
            Custo (R$):
            <input type="number" name="custo" step="0.01" min="0" required>
        </label>
        <br><br>

        <label>
            Data limite:
            <input type="date" name="data_limite" required>
        </label>
        <br><br>

        <button type="submit">Incluir</button>
    </form>

    <hr>

    <h2>Lista</h2>

    {% if tarefas %}
        <ul>
            {% for tarefa in tarefas %}
                <li style="{% if tarefa.custo >= 1000 %}background-color: yellow;{% endif %}">

                    {{ tarefa.nome }} |
                    R$ {{ "%.2f"|format(tarefa.custo) }} |
                    {{ tarefa.data_limite }}

                    <form action="{{ url_for('subir', id=tarefa.id) }}"
                        method="post"
                        style="display:inline;">
                        <button type="submit">⬆️</button>
                    </form>

                    <form action="{{ url_for('descer', id=tarefa.id) }}"
                        method="post"
                        style="display:inline;">
                        <button type="submit">⬇️</button>
                    </form>


                    |
                    <a href="{{ url_for('editar', id=tarefa.id) }}">Editar</a>

                    <form action="{{ url_for('excluir', id=tarefa.id) }}"
                          method="post"
                          style="display:inline;"
                          onsubmit="return confirm('Deseja realmente excluir esta tarefa?');">
                        <button type="submit">Excluir</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <hr>
        <p>
            <strong>Total dos custos:</strong>
            R$ {{ "%.2f"|format(total) }}
        </p>

    {% else %}
        <p>Nenhuma tarefa cadastrada.</p>
    {% endif %}

</body>
</html>
